<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible"content="IE=edge"/>
    <meta name="viewport"content="width-device-width,initial-scale=1.0"/>
    <!--    import google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,400;1,500;1,900&display=swap" rel="stylesheet">
    <!--    -->
    <link rel="stylesheet" href="../static/style/all.min.css">
    <link rel="stylesheet" href="../static/style/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Diabetes Prediction</title>
</head>
<body>
    <!--   navbar starts     -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/index">
                <img src="../static/images/b39622d0f84baefb0dee8a11b445681a.png" alt="Diabetes Prediction" height="75 px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3 active d-lg-none" aria-current="page" href="#landing">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3 d-lg-none"  href="#team">Team</a>
                    </li>
                </ul>
                <a href="#landing" class="log-in btn btn-primary rounded-pill main-btn ms-1 d-none d-lg-block">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a href="#team" class="log-in btn btn-primary rounded-pill main-btn ms-1 d-none d-lg-block">
                    <i class="fa-solid fa-people-group"></i>
                </a>
            </div>
        </div>
    </nav>
    <!--   navbar end     -->

    <!--   Landing Section starts     -->
    <section id="landing" class="landing d-flex justify-content-center align-items-center">
        <div class="container me-5">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="card " style="width: 650px; height: auto; border: none">
                        <div class="card-body">
                            <img src="../static/images/23b5564845a40fffb18302a3ae040241.png"  width="150px">
                            <h1 style="color: var(--bl); font-family: 'Candara Light';">What is Diabetes?</h1>
                            <p style="color: var(--bl); font-family: 'Candara Light';">
                                With diabetes, your body either doesn't make enough insulin or can't use it as well as it should. Diabetes is a chronic (long-lasting) health condition that affects how your body turns food into energy. Most of the food you eat is broken down into sugar (also called glucose) and released into your bloodstream</p>
                                <h1 style="color: var(--bl); font-family: 'Candara Light';">How do we predict if a women has diabetes?</h1>
                                <p style="color: var(--bl); font-family: 'Candara Light';">
                                    our website uses the relation between diabetes and (Age, times of previous Pregnancies, Glucose, Blood Pressure, Skin Thickness, Insulin, Body mass index "BMI", Diabetes Pedigree Function) to predict with 79% accuracy that you actually diabetes</p>
                            <a href="/form" class="log-in btn btn-primary rounded-pill main-btn ms-1 d-none d-lg-block">
                                Try Now
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="../static/images/shutterstock_571889917.jpg" class="float-end" width="400px" style="border-radius: 50%">
                </div>
            </div>
        </div>
    </section>
    <!--   Landing Section ends     -->

    <section id="team" class="team-sec text-center pt-5 pb-5">
        <div class="container me-5">
            <div class="card" style="border: var(--bl) 1px solid; border-radius: 20px">
                <div class="card-body">
                    <div class="main-title mt-5 mb-5 position-relative">
                        <h1 class="serv-icon mb-0"><i class="fa-solid fa-people-group"></i></h1>
                        <p class="title">Team 25</p>
                    </div>
                    <div class="container">
                        <div class="member row">
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h1 style="color: var(--bl); font-size: 100px"><i class="fa-solid fa-circle-user"></i></h1>
                                        <h5 class="card-title text-uppercase" style="color: var(--bl); font-weight: bolder; font-size: 25px">Amr Kamal Fathi</h5>
                                        <p class="card-text"><span style="font-size: 13px;">Section:</span><span style="font-size: 20px;"><i>  2</i></span> <br>
                                            <span style="font-size: 13px;">BN: <span style="font-size: 20px;"><i>    6</i></span></span></p>
                                        <a href="mailto:" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                                        <a href="tel: " class="btn btn-primary"><i class="fa-solid fa-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h1 style="color: var(--bl); font-size: 100px"><i class="fa-solid fa-circle-user"></i></h1>
                                        <h5 class="card-title text-uppercase" style="color: var(--bl); font-weight: bolder; font-size: 25px">Amr Mohamed Ahmed</h5>
                                        <p class="card-text"><span style="font-size: 13px;">Section:</span><span style="font-size: 20px;"><i>  2</i></span> <br>
                                            <span style="font-size: 13px;">BN: <span style="font-size: 20px;"><i>    7</i></span></span></p>
                                        <a href="mailto:" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                                        <a href="tel: " class="btn btn-primary"><i class="fa-solid fa-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h1 style="color: var(--bl); font-size: 100px"><i class="fa-solid fa-circle-user"></i></h1>
                                        <h5 class="card-title text-uppercase" style="color: var(--bl); font-weight: bolder; font-size: 25px">Mohamed Sayed Zaky</h5>
                                        <p class="card-text"><span style="font-size: 13px;">Section:</span><span style="font-size: 20px;"><i>  2</i></span> <br>
                                            <span style="font-size: 13px;">BN: <span style="font-size: 20px;"><i>    18</i></span></span></p>
                                        <a href="mailto:" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                                        <a href="tel: " class="btn btn-primary"><i class="fa-solid fa-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h1 style="color: var(--bl); font-size: 100px"><i class="fa-solid fa-circle-user"></i></h1>
                                        <h5 class="card-title text-uppercase" style="color: var(--bl); font-weight: bolder; font-size: 25px">Mahmoud Zakaria Seyam</h5>
                                        <p class="card-text"><span style="font-size: 13px;">Section:</span><span style="font-size: 20px;"><i>  2</i></span> <br>
                                            <span style="font-size: 13px;">BN: <span style="font-size: 20px;"><i>    25</i></span></span></p>
                                        <a href="mailto:" class="btn btn-primary"><i class="fa-solid fa-paper-plane"></i></a>
                                        <a href="tel: " class="btn btn-primary"><i class="fa-solid fa-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="foot">
        <footer>
            <ul class="social_icon">
                <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
            </ul>
            <p style="font-size: 15px; color: white">&copy; Biostatistics course Team 25</p>
        </footer>
    </section>
    <script src="../static/script/bootstrap.bundle.min.js"></script>
    <script src="../static/script/all.min.js"></script>
</body>
</html>